@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow|Istok+Web|Arimo|Oswald|Signika|Sintony|Roboto+Condensed|Roboto);

@import url(http://fonts.googleapis.com/css?family=Raleway);
@import url(http://fonts.googleapis.com/css?family=Oxygen);
@import url(http://fonts.googleapis.com/css?family=Cabin);
@import url(http://fonts.googleapis.com/css?family=Muli);
@import url(http://fonts.googleapis.com/css?family=Inconsolata);
@import url(http://fonts.googleapis.com/css?family=Arimo);

.font-cabin {
	font-family: 'Cabin', sans-serif;
}

.font-oxygen {
	font-family: 'Oxygen', sans-serif;
}

.font-raleway {
	font-family: 'Raleway', sans-serif;
}

.font-muli {
	font-family: 'Muli', sans-serif;
}

.font-inconsolata {
	font-family: 'Inconsolata', sans-serif;
}

.font-arimo {
	font-family: 'Arimo', sans-serif;
}